@import "tailwindcss";

/* Colors */
:root {
  --oxford-blue: #141e30ff;
  --desert-sand: #dec5b4ff;
  --glaucous: #6f7fa7ff;
  --dark-red: #910002ff;
  --betu-szin: #eee5ceff;
  --butterscotch: #df932aff;
  --background: #ffcc4d;
  --kek: #14213d;
  --szurke: #444554;
  --yinmn-blue: #2f5479ff;
}

body {
  padding: 0;
  margin: 0;
  color: var(--betu-szin);
  font-family: "Roboto", sans-serif;
  background-color: var(--oxford-blue);
  /* background-image: linear-gradient(90deg, var(--oxford-blue), var(--yinmn-blue)); */
}
@layer base {
  /* alap html beállítások */
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  form {
    user-select: none;
  }
  input {
    border: 2px solid var(--glaucous);
    color: white !important;
  }
  input::placeholder {
    color: white;
    opacity: 0.5;
  }
  input:focus {
    outline: none;
  }
  button {
    cursor: pointer !important;
  }
}
